/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
* {
    font-family: 'Inter', sans-serif;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
.logo{
    block-size: 4rem;
}


/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Custom modifications
---------------------------------------------------------*/
.calculator-container {
    margin-bottom: 5px;
    width: 240px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px 5px;
    width: 50px;
    height: 50px;
    background: #667080;
    opacity: 0.9;
    box-shadow: none;
    border-radius: 6px;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    padding: 0px;
    border: none;
}

.button:hover{
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.delete-icon{
    width:24px;
    height:24px;
    padding: 0px, 0px, 0px, 5px;
}

.input-display{
    margin: 5px 5px;
    width: 230px;
}

.input-display-right {
    text-align: right;
}

.input-label{
    margin: 0px 0px 0px 5px;
    font-size: 12px;
    padding: 0px;
    border: none;
}

.input-label-calc{
    width: 230px;
}
.input-label-narrow {
    width: 150px;
}

.history_label{
    display:inline-block;
}

.input-select-group{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 540px;
}

.input-select-group-two {
    display: grid;
    grid-template-columns: auto auto;
    width: 405px;
}

.input-display-roof{
    width: 190px;
}

.display-value-group-four{
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    width: 820px;
}

.display-value-group-five{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    width: 650px;
}

.select-box {
    width: 230px;
    height: 30px;
    margin: 5px 5px 5px 5px;
    font-family: Inter, sans-serif;
    font-size: 16px;
    color: #667080;
}

.select-box-right{
    text-align: right;
}

.select-box-narrow {
    width: 150px;
}

.fraction-button{
    font-size: 16px;
}

.subscript{
    font-size: 12px;
    padding: 0px 0px 0px 3px;
    height: 24px;
}

.name-column-button {
    width: 100px;
    height: 30px;
    margin: 5px 0px 5px 5px;
}
.history-column-button {
    width: 90px;
    height: 30px;
    margin: 0px 0px 5px 5px;
}

.export-button {
    width: 90px;
    height: 30px;
    margin: 5px -70px 5px 80px;
}

.history-display {
    margin: 5px 0px 0px 0px;
    width: 175px;
    padding: 5px;
    border: none;
}

.history-label {
    margin: 5px 0px 0px 0px;
    font-size: 12px;
    width: 175px;
    border: none;
}

.button-icon {
    background-image: url(../images/Icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
}

.editable-input-label{
    border: none;
}

.editable-input-label:hover {
   background-color: rgba(118, 118, 118, 0.3);
}

.calculate-button {
    width: 90px;
    height: 30px;
    margin: 5px 5px 0px 5px;
    box-shadow: none;
    border-style: none;
    float: right;
}

.align-right{
    text-align: right;
    border: 0;
    display: flex;
    justify-content: flex-end;
}

.bottom-row-button{
    margin: 20px 5px 0px 5px;
}

.message-display{
    border: none;
    width: 580px;
}

.conversion-hist-display{
    border: none;
    width: 250px;
}

.conversion-hist-clear {
    margin: 0px 0px 0px -15px;
    height: 30px;
    width: 90px;
}
.conversion-hist-export {
    margin: 0px 0px 0px 185px;
    height: 30px;
    width: 90px;
}