@model IEnumerable<ArchiTool.ArchiToolLogic.Models.Equation>

@{
    ViewData["Title"] = "Export ConversionCalc History";
}
<h5>ConversionCalc History</h5>

    @foreach(var item in Model)
    {
        <div class = "input-select-group-two">
        @Html.TextBoxFor(modelItem => item.EquationString, new { @class = "conversion-hist-display", @readonly = "readonly"})
        @Html.ActionLink("Delete", "DeleteConversionHistory", "Home", new { id = item.Id }, new { @class = "button history-column-button" })
        </div>
        <hr />
    }