@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ArchiTool</h1>
    <p>ArchiTool is still in the development phase. The user is responsible to ensure that all calculations are correct.<br /> ArchiTool assumes no responsibility for incorrect calculations or user errors.</p>
</div>
