<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ArchiTool</title>
    <link rel="shortcut icon" href="/LightLogo.png" type="image/x-icon">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Inter">
    <link rel="stylesheet" href="~/css/site.css" />


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand">
                    <svg class ="logo"width="81" height="97" viewBox="0 0 81 97" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.83043 88H7.35315L11.6259 76.3636H13.0804L17.3532 88H15.8759L12.3986 78.2045H12.3077L8.83043 88ZM9.37588 83.4545H15.3304V84.7045H9.37588V83.4545ZM18.6638 88V79.2727H19.9593V80.5909H20.0502C20.2093 80.1591 20.4972 79.8087 20.9138 79.5398C21.3305 79.2708 21.8002 79.1364 22.3229 79.1364C22.4214 79.1364 22.5445 79.1383 22.6922 79.142C22.84 79.1458 22.9517 79.1515 23.0275 79.1591V80.5227C22.982 80.5114 22.8778 80.4943 22.715 80.4716C22.5559 80.4451 22.3873 80.4318 22.2093 80.4318C21.785 80.4318 21.4063 80.5208 21.0729 80.6989C20.7434 80.8731 20.482 81.1155 20.2888 81.4261C20.0994 81.733 20.0047 82.0833 20.0047 82.4773V88H18.6638ZM27.5768 88.1818C26.7586 88.1818 26.0541 87.9886 25.4632 87.6023C24.8722 87.2159 24.4177 86.6837 24.0995 86.0057C23.7813 85.3277 23.6222 84.553 23.6222 83.6818C23.6222 82.7955 23.7851 82.0133 24.1109 81.3352C24.4404 80.6534 24.8988 80.1212 25.4859 79.7386C26.0768 79.3523 26.7662 79.1591 27.5541 79.1591C28.1677 79.1591 28.7207 79.2727 29.2132 79.5C29.7056 79.7273 30.109 80.0455 30.4234 80.4545C30.7378 80.8636 30.9328 81.3409 31.0086 81.8864H29.6677C29.5654 81.4886 29.3382 81.1364 28.9859 80.8295C28.6374 80.5189 28.1677 80.3636 27.5768 80.3636C27.0541 80.3636 26.5957 80.5 26.2018 80.7727C25.8116 81.0417 25.5067 81.4223 25.287 81.9148C25.0711 82.4034 24.9632 82.9773 24.9632 83.6364C24.9632 84.3106 25.0692 84.8977 25.2813 85.3977C25.4972 85.8977 25.8003 86.286 26.1904 86.5625C26.5844 86.839 27.0465 86.9773 27.5768 86.9773C27.9253 86.9773 28.2416 86.9167 28.5257 86.7955C28.8097 86.6742 29.0503 86.5 29.2472 86.2727C29.4442 86.0455 29.5844 85.7727 29.6677 85.4545H31.0086C30.9328 85.9697 30.7453 86.4337 30.4461 86.8466C30.1507 87.2557 29.7586 87.5814 29.27 87.8239C28.7851 88.0625 28.2207 88.1818 27.5768 88.1818ZM33.9897 82.75V88H32.6488V76.3636H33.9897V80.6364H34.1034C34.3079 80.1856 34.6147 79.8277 35.0238 79.5625C35.4367 79.2936 35.986 79.1591 36.6716 79.1591C37.2663 79.1591 37.7871 79.2784 38.2341 79.517C38.681 79.7519 39.0276 80.1136 39.2738 80.6023C39.5238 81.0871 39.6488 81.7045 39.6488 82.4545V88H38.3079V82.5455C38.3079 81.8523 38.128 81.3163 37.7682 80.9375C37.4121 80.5549 36.9178 80.3636 36.2852 80.3636C35.8458 80.3636 35.4519 80.4564 35.1034 80.642C34.7587 80.8277 34.486 81.0985 34.2852 81.4545C34.0882 81.8106 33.9897 82.2424 33.9897 82.75ZM41.782 88V79.2727H43.1229V88H41.782ZM42.4638 77.8182C42.2024 77.8182 41.977 77.7292 41.7876 77.5511C41.602 77.3731 41.5092 77.1591 41.5092 76.9091C41.5092 76.6591 41.602 76.4451 41.7876 76.267C41.977 76.089 42.2024 76 42.4638 76C42.7251 76 42.9486 76.089 43.1342 76.267C43.3236 76.4451 43.4183 76.6591 43.4183 76.9091C43.4183 77.1591 43.3236 77.3731 43.1342 77.5511C42.9486 77.7292 42.7251 77.8182 42.4638 77.8182ZM44.9407 77.0227V76.3636H53.0941V77.0227H49.3725V88H48.6622V77.0227H44.9407ZM57.0965 88.1818C56.3768 88.1818 55.7367 87.9886 55.1761 87.6023C54.6154 87.2121 54.1742 86.6761 53.8522 85.9943C53.5302 85.3125 53.3692 84.536 53.3692 83.6648C53.3692 82.7898 53.5302 82.0133 53.8522 81.3352C54.1742 80.6534 54.6154 80.1174 55.1761 79.7273C55.7367 79.3371 56.3768 79.142 57.0965 79.142C57.8162 79.142 58.4564 79.3371 59.017 79.7273C59.5776 80.1174 60.0189 80.6534 60.3408 81.3352C60.6628 82.017 60.8238 82.7936 60.8238 83.6648C60.8238 84.536 60.6628 85.3125 60.3408 85.9943C60.0189 86.6761 59.5776 87.2121 59.017 87.6023C58.4564 87.9886 57.8162 88.1818 57.0965 88.1818ZM57.0965 87.5398C57.7064 87.5398 58.2386 87.3674 58.6931 87.0227C59.1514 86.678 59.5056 86.2121 59.7556 85.625C60.0094 85.0379 60.1363 84.3845 60.1363 83.6648C60.1363 82.9451 60.0094 82.2936 59.7556 81.7102C59.5018 81.1231 59.1476 80.6572 58.6931 80.3125C58.2386 79.964 57.7064 79.7898 57.0965 79.7898C56.4867 79.7898 55.9545 79.964 55.4999 80.3125C55.0454 80.6572 54.6912 81.1231 54.4374 81.7102C54.1836 82.2936 54.0567 82.9451 54.0567 83.6648C54.0567 84.3845 54.1817 85.0379 54.4317 85.625C54.6855 86.2121 55.0397 86.678 55.4942 87.0227C55.9526 87.3674 56.4867 87.5398 57.0965 87.5398ZM66.1359 88.1818C65.4162 88.1818 64.776 87.9886 64.2154 87.6023C63.6548 87.2121 63.2135 86.6761 62.8916 85.9943C62.5696 85.3125 62.4086 84.536 62.4086 83.6648C62.4086 82.7898 62.5696 82.0133 62.8916 81.3352C63.2135 80.6534 63.6548 80.1174 64.2154 79.7273C64.776 79.3371 65.4162 79.142 66.1359 79.142C66.8556 79.142 67.4957 79.3371 68.0563 79.7273C68.6169 80.1174 69.0582 80.6534 69.3802 81.3352C69.7022 82.017 69.8632 82.7936 69.8632 83.6648C69.8632 84.536 69.7022 85.3125 69.3802 85.9943C69.0582 86.6761 68.6169 87.2121 68.0563 87.6023C67.4957 87.9886 66.8556 88.1818 66.1359 88.1818ZM66.1359 87.5398C66.7457 87.5398 67.2779 87.3674 67.7325 87.0227C68.1908 86.678 68.545 86.2121 68.795 85.625C69.0488 85.0379 69.1757 84.3845 69.1757 83.6648C69.1757 82.9451 69.0488 82.2936 68.795 81.7102C68.5412 81.1231 68.187 80.6572 67.7325 80.3125C67.2779 79.964 66.7457 79.7898 66.1359 79.7898C65.526 79.7898 64.9938 79.964 64.5393 80.3125C64.0847 80.6572 63.7306 81.1231 63.4768 81.7102C63.223 82.2936 63.0961 82.9451 63.0961 83.6648C63.0961 84.3845 63.2211 85.0379 63.4711 85.625C63.7249 86.2121 64.0791 86.678 64.5336 87.0227C64.9919 87.3674 65.526 87.5398 66.1359 87.5398ZM72.6241 76.3636V88H71.9309V76.3636H72.6241Z" fill="#40506A" />
                        <circle cx="41" cy="15" r="8.5" stroke="#40506A" stroke-width="3" />
                        <line x1="40.5" y1="3.59903" x2="40.5" y2="1.50001" stroke="#40506A" stroke-width="3" stroke-linecap="round" />
                        <line x1="35.8853" y1="23.8389" x2="22.9837" y2="66.0382" stroke="#40506A" stroke-width="3" stroke-linecap="round" />
                        <line x1="58.9058" y1="66.0723" x2="46.0042" y2="23.873" stroke="#40506A" stroke-width="3" stroke-linecap="round" />
                        <line x1="20.5" y1="43.5" x2="60.5" y2="43.5" stroke="#40506A" stroke-width="3" stroke-linecap="round" />
                        <line x1="40.5" y1="46.5" x2="40.5" y2="40.5" stroke="#40506A" stroke-width="3" stroke-linecap="round" />
                    </svg>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="RoofCalculator">RoofCalc</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="RoofHistory">RoofHistory</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ConversionCalculator">ConversionCalc</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ConversionHistory">ConversionHistory</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ArchiTool
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
